* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

body {
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background: white;
}

header {
    padding: 50px 100px 0;
    font-size: 34px;
    line-height: 34px;
}

.menu__list {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-weight: 600;
}

.menu__link, .menu__link:visited {
    display: block;
    height: 44px;
    border-radius: 20px 20px 0 0;
    padding: 10px 10px 0;
    color: grey;
}

.menu__link:hover, .menu__link:active {
    color: white;
    background: lightgray;
}

.section {
    height: calc(100vh - 94px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section01 {background: #DB564B;}
.section02 {background: #d4ad6d;}
.section03 {background: #a25dd2;}
.section04 {background: #4dd087;}
.section05 {background: #5591d1;}

.section__name {
    font-weight: 600;
    font-size: 14vw;
}
